* {
  box-sizing: border-box;
 
}

body {
  margin: 0px;
  font-family: 'segoe ui';
 
}

.nav {
  height: 64px;
  width: 100.8%;
  background-color: transparent;

  position: relative;
  margin: -8px;
  padding: 8px;
  z-index: 99;

  


}

.nav > .nav-header {
  display: inline;
  font-weight: bold;
 
  
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 30px;
  color: white;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 25px;

  
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: white;
 
  margin-right: 25px;
}

.nav > .nav-links > a:hover {
  background-color: rgb(204, 86, 18);
  border-radius: 20px;
 
}
a.logout {
border: 1px solid white;
border-radius: 15px;
}
.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav {
    height: 64px;
    width: 100%;
    background-color: transparent;
    position: relative;
    margin: -8px;
    padding: 8px;
    width: 103%;
    border-bottom: 1px solid rgb(187, 185, 183);
  }
  .nav > .nav-header > .nav-title {
  
  color:white;
   
  }
  
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 65px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color:black;
    color: white;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid orangered;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    backdrop-filter: blur(25px);
    height: 0px;
    transition: all 0.5s ease-in;
    
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
   font-size:20px;
   font-weight: bold;
   color: black;
   display: flex;
   width: 30%;
   justify-content: center;
  padding: 10px;

  transform: translate(176px);
  background-color: rgb(199, 89, 10);
  border-radius: 50px;
  color: white;
  }
  .nav > .nav-links > a:hover {

    display: flex;
    width: 30%;
    justify-content: center;
   padding: 10px;

   transform: translate(176px);
   background-color: green;
   border-radius: 50px;
   color: white;
 
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0;
    text-align: center;
    align-items: center;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  
}