

<div class="wrapper">
  <header><fa-icon [icon]="faLock"></fa-icon></header>
  
  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
  
    <div class="field password">

      <div class="input-area">
        <input type="email" id="email" placeholder="Your email..." formControlName="email">
       
        <span class="error"
          *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty  || isSubmitted)">
          <ng-container *ngIf="loginForm.get('email')?.hasError('required')">Email is required!</ng-container>
          <ng-container *ngIf="loginForm.get('email')?.hasError('pattern')">Invalid email format!</ng-container>
        </span>
      </div>
    </div>


    <div class="field password">
      <div class="input-area">
        <input type="password" id="password" placeholder="Password" formControlName="password">
        <span class="error"
          *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty  || isSubmitted)">

          <ng-container *ngIf="loginForm.get('password')?.hasError('required')">Password is
            required!</ng-container>
          <ng-container *ngIf="loginForm.get('password')?.hasError('pattern')">Password must have one capital
            letter, one symbol and one number.</ng-container>
        </span>
      </div>
    </div>
    <br>

    <button type="submit" value="Submit" id="btn"><fa-icon [icon]="faRightToBracket"></fa-icon> Login</button>
  </form>
</div>
<app-footer></app-footer>